<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Post: </title>
</head>
<body>
    <nav id="main-nav">
        <div id="main-nav-logo">
            <img src="/img/logo.png" alt="logo" class="logo-s">
        </div>
        <div id="main-nav-links">
            <a href="/" class="main-nav-link"><h3>Home</h3></a>
            <a href="/writepost" class="main-nav-link"><h3>Write</h3></a>
            <a href="/profile" class="main-nav-link"><h3>Profile</h3></a>
            <a href="/api/v1/auth/logout" class="main-nav-link"><h3>Logout</h3></a>
        </div>
    </nav>

    <div id="post"></div>
    
</body>
    <script>
        let url = window.location.pathname.split('/')
        let postID = url[2]
        fetch(`/api/v1/blog/getone/${postID}`)
        .then(result => result.json())
        .then(data => {
            console.log(data)
            let post = document.getElementById('post');
            let a = data.blogs;

            if (data.ownerStatus) {
                post.innerHTML = `
                    <div class="box">
                        <h1>${a.title}</h1>
                        <p>${a.description}</p>
                        <h5>${a.author.username}</h5>
                        <p>${a.body}</p>
                        <div class="form-bottom-col">
                            <a href="/">Home</a>
                            <div>
                                <button id="edit-button" type="submit"><h3>Edit</h3></button>
                                <button id="delete-button" type="submit"><h3>Delete</h3></button>
                            </div>
                        </div>
                    </div>
                `
            } else {
                post.innerHTML = `
                    <div class="box">
                        <h1>${a.title}</h1>
                        <p>${a.description}</p>
                        <h5>${a.author.username}</h5>
                        <p>${a.body}</p>
                    </div>
                `
            }

            return data
        })
        .then(data => {
                if (data.ownerStatus) {
                    document.getElementById('delete-button').addEventListener('click', () => {
                    fetch(`/api/v1/blog/deleteone/${postID}`, {method: 'DELETE'})
                    .then(response => response.json())
                    .then(data => {
                        window.location.href = '/';
                    })
                    .catch(err => console.log(err))
                })
            }
        })
    </script>
</html>