<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Post: </title>
</head>
<body>
    <nav id="main-nav">
        <div id="main-nav-logo">
            <img src="/img/logo.png" alt="logo" class="logo-s">
        </div>
        <div id="main-nav-links">
            <a href="/" class="main-nav-link"><h3>Home</h3></a>
            <a href="/writepost" class="main-nav-link"><h3>Write</h3></a>
            <a href="/profile" class="main-nav-link"><h3>Profile</h3></a>
            <a href="/api/v1/auth/logout" class="main-nav-link"><h3>Logout</h3></a>
        </div>
    </nav>

    <div id="post"></div>
    
</body>
    <script src="/js/readPost.js"></script>
</html>